<div class="s_avatar">
	<img src="<%= gravatar %>?d=retro" width="40px" height="40px" style ="vertical-align:middle"/>
</div>
<div class="s_username">
	<a href="#"><%= username %></a>
</div>
<p class="clear-both"></p>


